body {
    background-color: lightpink;
    color: lightblue);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 10px;


h1{
color: gray
font-size: 25px;}
p{ font-size: 25px;}
header{border-bottom: solid black;
margin:2px;
padding:10px;
color: lightpink;
.chamada{
background:(darkgray)
padding-bottom:80px; 
padding-top: 80px;
display:flex;
justify-content:center;
.chamada-texto{
margin-right:8% ;
}
ing{
height:200px;    
}
.categoria-videos{
display:flex;    
overflow-x:auto;
gap:15px;
.categoria{
padding-left:20px;    
padding-right: 20px;}
}
}

}


}